@import "./mixin";

.restaurants {
    @include Flex(column);
    background-color: rgb(246,246,246);
    padding: 35px 20px;
    .restaurants_block {
        @include Flex(column);
        align-items: center;
        .block {
            @include Flex(column);
            width: 100%;
            box-shadow: 6px 6px 6px #dfdfdf;
            margin-bottom: 20px;
            border-radius: 20px;
            background-color: white;
            
            &:hover {
                transform:scale(1.03);
            }
            .restaurants_link_block{
                @include Flex(row);
                height: 75px;
                align-items: center;
                justify-content: space-between;
                .restaurants_link_block_title{
                    padding-left: 10px;
                    h3{
                        margin: 0;
                        font-size: 17px;
                    }
                    p{
                        margin:0;
                        font-size: 16px;
                    }
                }
                .restaurants_link_block_icon{
                    padding-right: 20px;
                }
            }
        }
    }

}

.menu_header {
    @include FlexCenter(row);
    height: 50px;
    background-color:rgb(234,234,234) ;
    p{
        padding-left: 15px;
        font-weight: bold;
        font-size: 15px;
    }
}

.menu_title {
    @include FlexCenter(column);
    background-color:rgb(246,246,246) ;
    h2{
        text-align: center;
    }
    p{
        text-align: center;
    }
}

.restaurants_img {
    max-height: 175px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

ul{
    padding: 0;
}