@media screen and (min-width:991px){
    .restaurant_menu_main{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .menu_main{
            width:30%
        }
    }

    .working{
        .working_block{
        flex-direction: row;
        justify-content: space-between;
            .working_block_list{
                width: 30%;
            }
        }
    }

    .restaurants{
        .restaurants_block{
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            .block{
                width: 48%;
            }
        }
    }

    .restaurant_menu{
        max-width: 1000px;
        margin: auto;
    }
}