@mixin Flex($direction) {
    display: flex;
    flex-direction:$direction ;
}

@mixin FlexCenter ($direction){
    display:flex;
    flex-direction:$direction;
    justify-content: center;
    align-items: center;
}