@mixin Flex($direction) {
    display: flex;
    flex-direction:$direction ;
}

@mixin FlexCenter ($direction){
    display:flex;
    flex-direction:$direction;
    justify-content: center;
    align-items: center;
}

@mixin Button () {
    padding: 12px 20px;
    color: white;
    font-weight: 500;
    border-radius: 25px;
    background-color: rgb(100, 100, 100);
    background-image:linear-gradient(rgba(147,86,220,.9),rgba(255,121,218,.9));
    font-size: 14px;
    margin:0;
    margin-bottom: 40px;
    transition-duration: 0.25s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    &:hover {
        background-color: white;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.50);
    }
}

@mixin Heart {
    background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}




