@import "./mixin";

.restaurant_img img{
    height: 220px;
    width:100%;
    object-fit: cover;
    position: relative;
}

.restaurant_menu{
    border-radius: 0 20px 20px 0;
    position: relative;
}