.restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f6f6f6;
  padding: 35px 20px;
  font-size: 15px;
}

.restaurants .restaurants_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurants .restaurants_block .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-shadow: 6px 6px 6px #dfdfdf;
          box-shadow: 6px 6px 6px #dfdfdf;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: white;
}

.restaurants .restaurants_block .block .restaurants_link {
  position: relative;
}

.restaurants .restaurants_block .block .restaurants_notif {
  background-color: #99e2d0;
  color: #008766;
  position: absolute;
  right: 10px;
  top: 15px;
  padding: 4px 11px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 4px;
}

.restaurants .restaurants_block .block .restaurants_link_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 75px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurants .restaurants_block .block .restaurants_link_block .restaurants_link_block_title {
  padding-left: 10px;
}

.restaurants .restaurants_block .block .restaurants_link_block .restaurants_link_block_title h3 {
  margin: 0;
  font-size: 17px;
}

.restaurants .restaurants_block .block .restaurants_link_block .restaurants_link_block_title p {
  margin: 0;
  font-size: 16px;
}

.restaurants .restaurants_block .block .restaurants_link_block .restaurants_link_block_icon {
  padding-right: 20px;
}

.menu_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  background-color: #eaeaea;
}

.menu_header p {
  padding-left: 15px;
  font-weight: bold;
  font-size: 15px;
}

.menu_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  padding: 20px 30px;
}

.menu_title h2 {
  text-align: center;
  font-size: 24px;
  margin: 0;
  margin-bottom: 20px;
  margin-top: 15px;
}

.menu_title p {
  text-align: center;
  font-size: 16px;
  margin: 0;
  margin-bottom: 35px;
}

.menu_title a {
  padding: 12px 20px;
  color: white;
  font-weight: 500;
  border-radius: 25px;
  background-color: #686868;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(#9356DC, #FF79DA);
  font-size: 14px;
  margin: 0;
  margin-bottom: 40px;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.menu_title a:hover {
  background-color: white;
  -webkit-box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

.restaurants_img {
  max-height: 175px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}

ul {
  padding: 0;
  counter-reset: compteListe;
}

.working {
  padding: 20px 20px;
}

.working .working_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.working .working_block .working_block_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  border-radius: 20px;
  margin-bottom: 25px;
  margin-left: 10px;
  -webkit-box-shadow: 6px 6px 6px #e8e8e8;
          box-shadow: 6px 6px 6px #e8e8e8;
}

.working .working_block .working_block_list:hover i {
  color: #9356DC;
}

.working .working_block .working_block_list::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  counter-increment: compteListe 1;
  content: counter(compteListe);
  background-color: #9356DC;
  border-radius: 20px;
  height: 25px;
  width: 25px;
  position: absolute;
  color: white;
  left: 20px;
  font-size: 16px;
  font-weight: 500;
}

.working .working_block .working_block_list i {
  padding-left: 30px;
  padding-right: 15px;
  color: gray;
  font-size: 18px;
}

.working .working_block .working_block_list p {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.restaurant_heart {
  position: relative;
  font-size: 25px;
  cursor: pointer;
}

.restaurant_heart_filed {
  position: absolute;
  font-size: 25px;
  top: 201px;
  cursor: pointer;
  opacity: 0;
}

.restaurant_heart_filed:hover {
  opacity: 1;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.restaurant_heart_filed .fa-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
}

.header_inner {
  -webkit-box-shadow: 0px -10px 20px black;
          box-shadow: 0px -10px 20px black;
}

header {
  position: relative;
}

header .return {
  position: absolute;
  top: 20px;
  left: 25px;
  font-size: 18px;
}

.footer_inner {
  padding-bottom: 35px;
  max-width: 300px;
}

footer {
  background-color: #353535;
  color: white;
  font-size: 15px;
  font-weight: 400;
}

footer ul {
  padding-left: 25px;
  margin: 0;
}

footer ul li {
  padding-top: 5px;
}

footer img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  width: 105px;
  height: 15px;
  padding-top: 25px;
  padding-left: 15px;
}

footer .footer_column_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer_column_block i {
  width: 8%;
}

.restaurant_img img {
  height: 220px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.restaurant_menu {
  border-radius: 0 20px 20px 0;
  background-color: #f6f6f6;
}

.restaurant_menu .restaurant_menu_main {
  padding: 0 20px 0 20px;
}

.restaurant_menu .restaurant_menu_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.restaurant_menu .restaurant_menu_button a {
  padding: 12px 20px;
  color: white;
  font-weight: 500;
  border-radius: 25px;
  background-color: #686868;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(#9356DC, #FF79DA);
  font-size: 14px;
  margin: 0;
  margin-bottom: 40px;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  margin-bottom: 60px;
}

.restaurant_menu .restaurant_menu_button a:hover {
  background-color: white;
  -webkit-box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

.restaurant_menu .restaurant_menu_title {
  position: relative;
  top: -35px;
  padding: 40px 0px 0px 20px;
  border-radius: 25px 25px 0 0;
  background-color: #f6f6f6;
}

.restaurant_menu .restaurant_menu_title h1 {
  margin: 0;
  font-family: 'Shrikhand', cursive;
}

.restaurant_menu .restaurant_menu_title .restaurant_heart {
  position: absolute;
  right: 8%;
  font-size: 25px;
  top: 40px;
  cursor: pointer;
}

.restaurant_menu .restaurant_menu_title .restaurant_heart_filed {
  position: absolute;
  right: 8%;
  font-size: 25px;
  top: 40px;
  cursor: pointer;
  opacity: 0;
}

.restaurant_menu .restaurant_menu_title .restaurant_heart_filed:hover {
  opacity: 1;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.restaurant_menu .restaurant_menu_title .restaurant_heart_filed .fa-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu_main_block {
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 6px 6px 6px #e8e8e8;
          box-shadow: 6px 6px 6px #e8e8e8;
  padding: 15px 20px 15px 10px;
  height: 40px;
  margin: 15px 0 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.menu_main_block .block--title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.menu_main_block .block--title h2 {
  margin: 0;
  font-size: 16px;
}

.menu_main_block .block--subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_main_block .block--subtitle .price {
  font-size: 14px;
  font-weight: bold;
}

.menu_main_block .block--subtitle .txt {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.menu_main {
  margin-bottom: 35px;
}

.menu_main_title {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
  font-weight: 400;
}

.menu_main_title::after {
  content: "";
  width: 40px;
  height: 4px;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: 0;
}

@-webkit-keyframes loader {
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes jump {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  75% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes jump {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  75% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes blockAppear {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes blockAppear {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-animation: loader 0.1s;
          animation: loader 0.1s;
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  z-index: 10000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loader .loader_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.loader .loader_container .loader_item {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  -webkit-animation: jump 1s;
          animation: jump 1s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
}

.loader .loader_container .loader_item--1 {
  background-color: #9356dc;
}

.loader .loader_container .loader_item--2 {
  background-color: #ff79da;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.loader .loader_container .loader_item--3 {
  background-color: #99e2d0;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.menu_main_block {
  -webkit-animation: blockAppear 1.5s;
          animation: blockAppear 1.5s;
  cursor: pointer;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.menu_main_block--1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.menu_main_block--2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.block_icon {
  height: 1.6rem;
  width: 1.6rem;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.block--animation {
  background-color: #99e2d0;
  margin: -1rem -6rem -1rem 1rem;
  width: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.block--animation:hover .menu_main_block {
  margin-right: -6rem;
}
/*# sourceMappingURL=style.css.map */