.restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f6f6f6;
  padding: 35px 20px;
  font-size: 15px;
}

.restaurants .restaurants_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurants .restaurants_block .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-shadow: 6px 6px 6px #dfdfdf;
          box-shadow: 6px 6px 6px #dfdfdf;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: white;
}

.restaurants .restaurants_block .block .restaurants_link {
  position: relative;
}

.restaurants .restaurants_block .block .restaurants_notif {
  background-color: #99e2d0;
  color: #008766;
  position: absolute;
  right: 10px;
  top: 15px;
  padding: 4px 11px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 4px;
}

.restaurants .restaurants_block .block:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.restaurants .restaurants_block .block .restaurants_link_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 75px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurants .restaurants_block .block .restaurants_link_block .restaurants_link_block_title {
  padding-left: 10px;
}

.restaurants .restaurants_block .block .restaurants_link_block .restaurants_link_block_title h3 {
  margin: 0;
  font-size: 17px;
}

.restaurants .restaurants_block .block .restaurants_link_block .restaurants_link_block_title p {
  margin: 0;
  font-size: 16px;
}

.restaurants .restaurants_block .block .restaurants_link_block .restaurants_link_block_icon {
  padding-right: 20px;
}

.menu_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  background-color: #eaeaea;
}

.menu_header p {
  padding-left: 15px;
  font-weight: bold;
  font-size: 15px;
}

.menu_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  padding: 20px 30px;
}

.menu_title h2 {
  text-align: center;
  font-size: 24px;
  margin: 0;
  margin-bottom: 20px;
  margin-top: 15px;
}

.menu_title p {
  text-align: center;
  font-size: 16px;
  margin: 0;
  margin-bottom: 35px;
}

.menu_title a {
  padding: 12px 20px;
  color: white;
  font-weight: 500;
  border-radius: 25px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(#9356DC, #FF79DA);
  -webkit-box-shadow: 6px 6px 6px #dfdfdf;
          box-shadow: 6px 6px 6px #dfdfdf;
  font-size: 14px;
  margin: 0;
  margin-bottom: 40px;
}

.menu_title a:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.restaurants_img {
  max-height: 175px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}

ul {
  padding: 0;
  counter-reset: compteListe;
}

.working {
  padding: 20px 20px;
}

.working .working_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.working .working_block .working_block_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  border-radius: 20px;
  margin-bottom: 25px;
  margin-left: 10px;
  -webkit-box-shadow: 6px 6px 6px #e8e8e8;
          box-shadow: 6px 6px 6px #e8e8e8;
}

.working .working_block .working_block_list:hover i {
  color: #9356DC;
}

.working .working_block .working_block_list::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  counter-increment: compteListe 1;
  content: counter(compteListe);
  background-color: #9356DC;
  border-radius: 20px;
  height: 25px;
  width: 25px;
  position: absolute;
  color: white;
  left: 20px;
  font-size: 16px;
  font-weight: 500;
}

.working .working_block .working_block_list i {
  padding-left: 30px;
  padding-right: 15px;
  color: gray;
  font-size: 18px;
}

.working .working_block .working_block_list p {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
}

.header_inner {
  -webkit-box-shadow: 0px -10px 20px black;
          box-shadow: 0px -10px 20px black;
}

header {
  position: relative;
}

.footer_inner {
  padding: 10px 20px;
  max-width: 300px;
}

footer {
  background-color: #353535;
  color: white;
  font-size: 15px;
  font-weight: 400;
}

footer img {
  fill: white;
}

footer .footer_column_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer_column_block i {
  width: 8%;
}
/*# sourceMappingURL=style.css.map */